# Virtual environments
defect_env/
defect_env_gpu/

# CVAT & Data
cvat/
task_*/
Classroom*/
dataset/
Automation*/
Good/
Learning/
*.zip

# Models & Training Outputs
runs/
models/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Media
*.jpg
*.jpeg
*.png
*.mp4
*.avi

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
